<div class="author">
    <h1 class="author__heading">Amira Mohamed</h1>
    <p class="author__body">Web developer and quality designer</p>
</div>

<img src="/img/hero-image.avif" alt="portrait of site creator" class="hero-image">

<section class="articles">

    <h2 class="articles__heading">Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li><a href="/post/<%= post._id %>">
                <span class="article-list__title"><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a></li>
        <% }) %>

    </ul>

    <div class="pagination">

        <div class="prev-page">
            <% if (prevPage !== null) { %>
                <a href="/?page=<%= prevPage %>">&lt; View Newer Posts</a>
            <% } %>
        </div>
        
        <div class="current-page">
            Page <%= current %> of <%= totalPages %>
        </div>

        <div class="next-page">
            <% if (nextPage !== null) { %>
                <a href="/?page=<%= nextPage %>">View Older Posts &gt;</a>
            <% } %>
        </div>

    </div>
    
</section>
    